.column {
  width: 400px;
  float: left;
  padding: 1%;
}

img {
  width: 400px;
  height: 600px;
}

h1, h3 {
  text-align: center;
}

h3 {
  font-weight: lighter;
}

body {
  width: 1300px;
  display: block;
  margin: auto;
  font-family: sans-serif;
}
